.pricing-card-container {
  background-color: hsl(0, 0%, 100%, 0.1);
  border-radius: 8px;
  box-shadow:
    0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 8px 10px -6px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(24px);
  border: 1px solid hsla(0, 0%, 100%, 0.1);
  padding: 40px;
}

@media (max-width: 524px) {
  .pricing-card-container {
    padding: 24px;
  }
}
