.pricing-card {
  flex: 1;
  padding: 32px;
  border-radius: 8px;
  background: rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.08);
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
  color: #fff;
  backdrop-filter: blur(8px);
  max-width: 420px;
}

.pricing-card:hover {
  transform: translateY(-8px);
  border-color: rgba(255, 255, 255, 0.08);
  box-shadow: 0 4px 24px -4px rgba(0, 0, 0, 0.3),
    0 0 0 1px rgba(255, 255, 255, 0.1);
}

.pricing-card-highlighted {
  background: rgba(0, 0, 0, 0.5);
  border-color: rgba(255, 255, 255, 0.15);
}

.pricing-card-highlighted:hover {
  border-color: rgba(255, 255, 255, 0.25);
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.02) 0%,
    transparent 100%
  );
  box-shadow: 0 4px 24px -4px rgba(0, 0, 0, 0.4),
    0 0 0 1px rgba(255, 255, 255, 0.2);
}

.pricing-tag {
  font-size: 24px;
  color: inherit;
  font-weight: 500;
}

.popular-tag {
  background: #fff;
  color: white;
  padding: 4px 12px;
  border-radius: 100px;
  font-size: 14px;
  position: absolute;
  right: 24px;
  top: 24px;
}

.pricing-amount {
  display: flex;
  align-items: baseline;
  gap: 4px;
  margin: 24px 0;
}

.price {
  font-size: 48px;
  font-weight: 600;
  background: linear-gradient(to right, #fff, rgba(255, 255, 255, 0.8));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.period {
  color: rgba(255, 255, 255, 0.7);
  font-size: 16px;
}

.annual-price {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.6);
  margin-top: 4px;
}

.features-list {
  margin: 32px 0;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.feature-item {
  display: flex;
  align-items: center;
  gap: 12px;
  color: rgba(255, 255, 255, 0.8);
}

.feature-item svg {
  color: #d86d3e;
}

.pricing-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 4px;
  background: rgba(255, 255, 255, 0.1);
  color: white;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.2s ease;
  width: 100%;
  border: none;
}

.pricing-button:hover {
  background: rgba(255, 255, 255, 0.9);
}

.pricing-button:hover .pricing-button-text {
  color: #000;
}

.pricing-card-highlighted .pricing-button {
  background: #d86d3e;
}

.pricing-card-highlighted .pricing-button:hover {
  background: #e27b4c;
}

.pricing-button.current-plan {
  background: rgba(255, 255, 255, 0.9);
  cursor: default;
}

.pricing-button.current-plan .pricing-button-text {
  color: #000;
}

.pricing-button.current-plan:hover {
  background: rgba(255, 255, 255, 0.9);
}

.pricing-card-highlighted .pricing-button.current-plan {
  background: rgba(255, 255, 255, 0.9);
}

.pricing-card-highlighted .pricing-button.current-plan:hover {
  background: rgba(255, 255, 255, 0.9);
}

/* Gradient overlay */
.pricing-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 16px;
  pointer-events: none;
}

.feature-checkmark-container {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background: #ffffffdc;
}

.checkout-overlay {
  display: flex;
  /* height: 100vh;
  width: 100vw; */
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.75);
  align-items: center;
  justify-content: center;
  z-index: 1000;
  cursor: pointer;
}

.checkout-popover {
  height: 90vh;
  width: 90vw;
  max-width: 1048px;
  overflow: auto;
  cursor: default;
}

.stripe-checkout-wrapper {
  width: 100%;
  height: 100%;
  padding: 24px;
  background: #050609;
  overflow: auto;
  border: 1px solid rgba(255, 255, 255, 0.08);
  border-radius: 8px;
  box-shadow: 0 4px 24px -4px rgba(0, 0, 0, 0.5),
    0 12px 48px -8px rgba(0, 0, 0, 0.3);

  /* Webkit scrollbar styling */
  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.5);
    border-radius: 4px;
  }
}
