apiVersion: apps/v1
kind: Deployment
metadata:
  name: pdla
  namespace: chunkmydocs
  labels:
    app.kubernetes.io/name: pdla
spec:
  selector:
    matchLabels:
      app.kubernetes.io/name: pdla
  template:
    metadata:
      namespace: chunkmydocs
      labels:
        app.kubernetes.io/name: pdla
    spec:
      containers:
      - name: pdla
        image: luminainc/pdla:2c8c9355
        imagePullPolicy: Always
        envFrom:
        - secretRef:
            name: pdla-secrets
        ports:
        - containerPort: 8000
        command: ["gunicorn", "-k", "uvicorn.workers.UvicornWorker", "--chdir", "./src", "app:app", "--bind", "0.0.0.0:8000", "--timeout", "10000", "--workers", "1"]
        securityContext:
          privileged: true
          capabilities:
            add: ["SYS_ADMIN"]
        resources:
          limits:
            nvidia.com/gpu: 1
          requests:
            nvidia.com/gpu: 1
        volumeMounts:
        - name: dshm
          mountPath: /dev/shm
      volumes:
      - name: dshm
        emptyDir:
          medium: Memory
          sizeLimit: 5Gi