.rt-TableRoot {
  background-color: unset !important;
  border: none !important;
  box-shadow: none !important;
}

table {
  background-color: unset !important;
  border: none !important;
  box-shadow: none !important;
}

thead {
  margin-bottom: 32px !important;
}

tr {
  background-color: unset !important;
  color: var(--cyan-2) !important;
}

th {
  font-weight: 700 !important;
  font-size: 16px !important;
  align-content: baseline !important;
}

.sub-header {
  font-weight: 600 !important;
  font-size: 18px !important;
  color: var(--cyan-2) !important;
  padding-top: 32px !important;
  padding-bottom: 32px !important;
  border-bottom: 1px solid rgba(13, 60, 72, 0.5) !important;
}

td {
  font-size: 16px !important;
  border-bottom: 1px solid rgba(13, 60, 72, 0.5) !important;
  align-items: center !important;
  justify-content: center !important;
  padding-top: 32px !important;
  padding-bottom: 32px !important;
  color: var(--cyan-1) !important;
}

.table-title {
  font-size: 48px !important;
  font-weight: bold !important;
}

@media (max-width: 978px) {
  .table-title {
    font-size: 32px !important;
  }

  .table-subtitle {
    font-size: 16px !important;
  }

  .sub-header {
    font-size: 12px !important;
  }

  td {
    font-size: 4px !important;
  }
}
