.lh
.env
.venv
venv
output
test
output-gpu
staging
examples
annotated
annotated-gpu
sample
input
.whisper
.env
__pycache__
.DS_Store
node_modules
.turbo
*.log
dist
dist-ssr
*.local
.env
.cache
server/dist
public/dist
