.toggle-container {
  filter: drop-shadow(0px 2px 3px rgba(0, 0, 51, 0.06))
    drop-shadow(0px 3px 12px rgba(0, 0, 0, 0.1))
    drop-shadow(0px 4px 16px rgba(0, 0, 0, 0.1));
}

.toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  background-color: hsla(191, 71%, 32%, 0.7);
  color: rgba(250, 253, 254, 0.5);
  cursor: pointer;
  transition:
    background 0.2s ease-in-out,
    color 0.2s ease-in-out;
}

.toggle-active {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  background: rgba(61, 185, 207, 0.9);
  color: var(--cyan-1);
}

.toggle:hover {
  background: rgba(61, 185, 207, 0.85);
  color: var(--cyan-3);
}

@media (max-width: 718px) {
  .toggle-container {
    width: 100%;
    flex-direction: column;
    height: 124px;
  }

  .toggle {
    width: 100%;
    border-radius: 0px;
  }

  .toggle-active {
    width: 100%;
    border-radius: 0px;
  }
}
