.upload-container {
  background-color: hsla(191, 71%, 32%, 0.6);
  border-radius: 8px;
  border: 2px solid var(--cyan-3);
  box-shadow: 0px 0px 16px 0px rgba(12, 12, 12, 0.25);
  backdrop-filter: blur(8px);
  cursor: pointer;
  opacity: 1;
  transition: background-color 0.2s ease-in-out;
}

.upload-container:hover {
  background-color: hsla(191, 71%, 32%, 0.7);
}

.upload-container.is-uploaded {
  border-color: var(--cyan-8);
  cursor: default;
  opacity: 0.7;
}

.upload-container.is-drag-active {
  border-color: var(--cyan-7);
}

.hover-cyan-6:hover {
  color: var(--Colors-Cyan-6, #9ddde7);
}

.demo-pdf-link-container {
  position: relative;
  top: -40px;
}
