.upload-container {
  background-color: hsla(0, 0%, 100%, 0.08);
  border-radius: 8px;
  /* border: 2px solid #fff; */
  box-shadow:
    0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 8px 10px -6px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8px);
  border: 1px solid hsla(0, 0%, 100%, 0.1);
  cursor: pointer;
  opacity: 1;
  transition: background-color 0.2s ease-in-out;
}

.upload-container:hover {
  background-color: hsl(0, 0%, 100%, 0.11);
}

.upload-container.is-uploaded {
  background-color: hsla(0, 0%, 100%, 0.05);
  cursor: default;
}

.upload-container.is-drag-active {
  border-color: var(--cyan-7);
}

.hover-cyan-6:hover {
  color: var(--Colors-Cyan-6, #9ddde7);
}

.demo-pdf-link-container {
  position: relative;
  top: -40px;
}

.demo-pdf-text {
  color: hsla(0, 0%, 100%, 0.8);
}

.demo-pdf-text:hover {
  color: hsla(0, 0%, 100%, 0.9);
}
