.upload-container {
  background-color: rgba(255, 255, 255, 0.04);
  border-radius: 8px;
  height: unset !important;
  padding: 24px;
  /* border: 2px solid #fff; */
  box-shadow:
    0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 8px 10px -6px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  cursor: pointer;
  opacity: 1;
  transition: background-color 0.2s ease-in-out;
}

.upload-container:hover {
  background-color: rgba(255, 255, 255, 0.06);
}

.upload-container.is-uploaded {
  background-color: hsla(0, 0%, 100%, 0.04);
  cursor: default;
}

.upload-container .is-uploaded:hover {
  background-color: rgba(255, 255, 255, 0.04);
}

.upload-container.is-drag-active {
  border-color: var(--cyan-7);
}

.upload-container.has-files {
  height: 200px;
  border: 1px dashed rgba(255, 255, 255, 0.2);
  transition: all 0.2s ease;
}

.upload-container.has-files:hover {
  border-color: rgba(255, 255, 255, 0.3);
  background: rgba(255, 255, 255, 0.06);
}
