.dashboard-container {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #020809;
}

.dashboard-content {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 100%;
  margin-top: 80px;
  padding: 40px;
}

.dashboard-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 72px;
  background-color: rgba(2, 8, 9, 0.4);
  backdrop-filter: blur(10px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  z-index: 1000;
}

.dashboard-content-left {
  width: 100%;
}

.dashboard-content-right {
  width: 100%;
  height: fit-content;
  gap: 24px;
  padding: 24px;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.01);
}

.callout {
  align-items: center;
  gap: 8px;
  border: 2px solid rgba(255, 238, 156, 0.5);
  border-radius: 4px;
  padding: 8px;
  width: fit-content;
  margin-top: 20px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.callout:hover {
  background-color: rgba(255, 238, 156, 0.1);
}

.dashboard-card {
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 8px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.05);
}

.dashboard-card-header {
  padding: 6px 12px;
  border-radius: 4px;
  width: fit-content;
  border: 2px solid rgba(255, 255, 255, 0.3);
}

.white-text {
  color: #fff;
}

@media (max-width: 524px) {
  .dashboard-content {
    padding: 24px;
    margin-top: 104px;
  }
}
