/* reset */
button,
h3 {
  all: unset;
}

h1 {
  font-size: 28px !important;
  line-height: 36px !important;
  color: hsl(0, 0%, 100%, 0.98);
  margin-bottom: 24px !important;
}

h2 {
  font-size: 24px !important;
  line-height: 32px !important;
  color: hsl(0, 0%, 100%, 0.95);
  margin-bottom: 16px !important;
}

h3 {
  font-size: 20px !important;
  line-height: 28px !important;
  color: hsl(0, 0%, 100%, 0.9);
}

h4 {
  font-size: 16px !important;
  line-height: 24px !important;
  color: hsl(0, 0%, 100%, 0.98);
}

h5 {
  font-size: 14px !important;
  line-height: 20px !important;
  color: hsl(0, 0%, 100%, 0.98);
}

h6 {
  font-size: 12px !important;
  line-height: 16px !important;
  color: hsl(0, 0%, 100%, 0.98);
}

p {
  font-size: 16px !important;
  line-height: 24px !important;
  color: hsl(0, 0%, 100%, 0.98);
  margin-bottom: 16px !important;
}

.AccordionItem {
  overflow: hidden;
  margin-top: 1px;
}

.AccordionItem:first-child {
  margin-top: 0;
}

.AccordionItem:focus-within {
  position: relative;
  z-index: 1;
}

.AccordionHeader {
  display: flex;
  background-color: hsla(0, 0%, 0%, 0.4);
  border: 1px solid hsla(0, 0%, 100%, 0.2);
  border-bottom: none;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.AccordionTrigger {
  font-family: inherit;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  line-height: 1;
  padding: 16px 18px;
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.2);
  transition: background-color 0.2s;
  gap: 16px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.AccordionTrigger:hover {
  background-color: hsla(0, 0%, 100%, 0.05);
}

.AccordionContent {
  border: 1px solid hsla(0, 0%, 100%, 0.2);
  border-top: none;
  color: var(--cyan-11);
  background-color: hsla(0, 0%, 0%, 0.5);
  height: 100%;
  max-height: 492px;
  overflow-y: auto;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  scrollbar-width: thin;
  scrollbar-color: rgba(142, 142, 147, 0.5) transparent;
}

.AccordionContent::-webkit-scrollbar {
  width: 2px;
}

.AccordionContent::-webkit-scrollbar-track {
  background: transparent;
}

.AccordionContent::-webkit-scrollbar-thumb {
  background-color: rgba(142, 142, 147, 0.5) !important;
  border-radius: 1px;
}

.AccordionContent[data-state="open"] {
  animation: slideDown 300ms cubic-bezier(0.87, 0, 0.13, 1);
}
.AccordionContent[data-state="closed"] {
  animation: slideUp 300ms cubic-bezier(0.87, 0, 0.13, 1);
}

.AccordionContentText {
  padding: 24px 20px;
}

.AccordionChevron {
  background-color: unset !important;
  transition: transform 300ms cubic-bezier(0.87, 0, 0.13, 1);
}
.AccordionTrigger[data-state="open"] .AccordionChevron {
  transform: rotate(180deg);
}

.segment-badge {
  border-width: 1px;
  border-style: solid;
}

.segment-badge.text {
  border-color: var(--teal-10);
}
.segment-badge.table {
  border-color: var(--orange-9);
}
.segment-badge.title {
  border-color: var(--amber-8);
}
.segment-badge.picture {
  border-color: var(--pink-10);
}
.segment-badge.formula {
  border-color: var(--cyan-8);
}
.segment-badge.caption {
  border-color: var(--jade-10);
}
.segment-badge.footnote {
  border-color: var(--pink-10);
}
.segment-badge.list-item {
  border-color: var(--bronze-10);
}
.segment-badge.page-footer {
  border-color: var(--red-12);
}
.segment-badge.page-header {
  border-color: var(--violet-8);
}
.segment-badge.section-header {
  border-color: var(--yellow-7);
}

@keyframes slideDown {
  from {
    height: 0;
  }
  to {
    height: var(--radix-accordion-content-height);
  }
}

@keyframes slideUp {
  from {
    height: var(--radix-accordion-content-height);
  }
  to {
    height: 0;
  }
}
