/* reset */
button,
h3 {
  all: unset;
}

h1 {
  font-size: 28px !important;
  line-height: 36px !important;
  color: var(--cyan-7);
  margin-bottom: 24px !important;
}

h2 {
  font-size: 24px !important;
  line-height: 32px !important;
  color: var(--cyan-5);
  margin-bottom: 16px !important;
}

h3 {
  font-size: 20px !important;
  line-height: 28px !important;
  color: var(--cyan-7);
}

h4 {
  font-size: 16px !important;
  line-height: 24px !important;
  color: var(--cyan-7);
}

h5 {
  font-size: 14px !important;
  line-height: 20px !important;
  color: var(--cyan-7);
}

h6 {
  font-size: 12px !important;
  line-height: 16px !important;
  color: var(--cyan-7);
}

p {
  font-size: 16px !important;
  line-height: 24px !important;
  color: var(--cyan-1);
  margin-bottom: 16px !important;
}

.AccordionRoot {
  background-color: #061d23;
  box-shadow: 0 2px 10px var(--black-a4);
}

.AccordionItem {
  overflow: hidden;
  margin-top: 1px;
}

.AccordionItem:first-child {
  margin-top: 0;
}

.AccordionItem:focus-within {
  position: relative;
  z-index: 1;
}

.AccordionHeader {
  display: flex;
  background-color: #061d23;
  border: 2px solid var(--Colors-Cyan-4, #caf1f6);
  border-bottom: none;
}

.AccordionTrigger {
  font-family: inherit;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  line-height: 1;
  padding: 16px 18px;
  border-bottom: 2px solid var(--Colors-Cyan-4, #caf1f6);
  transition: background-color 0.2s;
  gap: 16px;
}

.AccordionTrigger:hover {
  background-color: rgba(13, 60, 72, 0.7);
}

.AccordionContent {
  overflow: hidden;
  border: 2px solid var(--Colors-Cyan-4, #caf1f6);
  border-top: none;
  color: var(--cyan-11);
  background-color: #061d23;
  height: 480px;
}
.AccordionContent[data-state="open"] {
  animation: slideDown 300ms cubic-bezier(0.87, 0, 0.13, 1);
}
.AccordionContent[data-state="closed"] {
  animation: slideUp 300ms cubic-bezier(0.87, 0, 0.13, 1);
}

.AccordionContentText {
  padding: 20px 24px;
}

.AccordionChevron {
  color: var(--cyan-10);
  transition: transform 300ms cubic-bezier(0.87, 0, 0.13, 1);
}
.AccordionTrigger[data-state="open"] .AccordionChevron {
  transform: rotate(180deg);
}
@keyframes slideDown {
  from {
    height: 0;
  }
  to {
    height: var(--radix-accordion-content-height);
  }
}

@keyframes slideUp {
  from {
    height: var(--radix-accordion-content-height);
  }
  to {
    height: 0;
  }
}
