# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.egg-info/
*.egg
dist/
build/
eggs/
parts/
var/
wheels/
*.manifest
*.spec

# UV specific
.uv/

# Virtual environments
.env
.venv
env/
venv/
ENV/

# IDE specific
.idea/
.vscode/
*.swp
*.swo

# OS specific
.DS_Store
Thumbs.db

# Distribution / packaging
*.tar.gz
*.whl

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

request_logs/

uv.lock
