.button-resting {
  background-color: var(--cyan-12);
  border: none;
  color: rgba(222, 247, 249, 0.5);
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 0px;
  cursor: pointer;
  box-shadow:
    0px 4px 16px -8px var(--Overlays-Black-Alpha-2, rgba(0, 0, 0, 0.1)),
    0px 3px 12px -4px var(--Overlays-Black-Alpha-2, rgba(0, 0, 0, 0.1)),
    0px 2px 3px -2px var(--Colors-Neutral-Neutral-Alpha-3, rgba(0, 0, 51, 0.06));

  transition:
    background-color 0.2s,
    color 0.2s;
}

.button-resting:hover {
  background-color: var(--cyan-9);
  color: var(--cyan-3);
  outline: none;
}

.button-active {
  background-color: var(--cyan-9);
  color: var(--cyan-3);
  outline: none;
}
