.button-resting {
  box-sizing: border-box;
  width: fit-content;
  height: fit-content;
  border: none;
  background-color: rgba(255, 255, 255, 0.04);
  backdrop-filter: blur(6px);
  color: inherit;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  padding: 4px 10px;
  transition: all 0.2s ease;
  border: 1px solid transparent;
}

.button-resting:hover {
  background-color: rgba(255, 255, 255, 0.04);
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.button-resting:hover > span {
  color: hsla(0, 0%, 100%) !important;
}

.button-active {
  background: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(6px);
  border: 1px solid rgba(255, 255, 255, 0.02);
}

.button-active:hover {
  background: rgba(255, 255, 255, 0.08);
  border: 1px solid rgba(255, 255, 255, 0.02);
}

.button-resting:focus {
  outline: none;
}
