.account-module-container {
  border: 2px solid var(--cyan-5);
  background: hsl(191, 70%, 5%);
  border-radius: 8px;
  padding: 32px;
  padding-bottom: 30px;
  width: fit-content;
  position: relative;
  width: 642px;
}

.pricing-container {
  color: var(--cyan-1);
  cursor: pointer;
  transition: color 0.2s ease;
}

.pricing-container:hover {
  color: var(--cyan-5);
}

.pricing-container-active {
  color: var(--cyan-8);
}

.api-container {
  width: 100%;
  border: 2px solid var(--cyan-5);
  border-radius: 4px;
  padding: 4px 12px;
}

.copy-icon {
  cursor: pointer;
}

.copy-icon svg path {
  transition: fill 0.3s ease;
}

.copy-icon:hover svg path {
  fill: var(--cyan-8);
}

.badge-container {
  border: 1px solid var(--cyan-5);
  border-radius: 4px;
  padding: 4px 8px;
  width: fit-content;
}

.usage-loader-container {
  width: 100%;
}

.usage-loader-background {
  height: 8px;
  background-color: var(--cyan-12);
  border-radius: 4px;
  overflow: hidden;
}

.usage-loader-progress {
  height: 100%;
  width: 75%;
  background-color: var(--cyan-5);
}

.usage-loader-container > .rt-Text {
  margin-top: 8px;
}

.close-button-container {
  position: absolute;
  top: 32px;
  right: 32px;
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
}

.close-button-container svg path {
  transition: fill 0.2s ease;
}

.close-button-container:hover svg path {
  fill: var(--cyan-8);
}
