@keyframes pulseGradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.pulsing-background {
  background: linear-gradient(90deg, #0a2d36 0%, #061d22 37.5%);
  background-size: 110% 100%;
  animation: pulseGradient 15s ease infinite;
}

.hero-container {
  margin-top: 64px;
  padding-left: 80px;
  padding-right: 80px;
  gap: 32px;
  flex-direction: row;
}

.text-container {
  flex: 1;
  gap: 32px;
}

.module-container {
  flex: 1;
  margin-bottom: 64px;
}

.hero-title {
  max-width: 542px !important;
  font-size: 72px !important;
  line-height: 88px !important;
  letter-spacing: -0.01em !important;
}

.credit-button {
  border-radius: 8px;
  border: 1px solid var(--cyan-4);
  background-color: #061d22;
  padding: 12px 18px;
  transition: background-color 0.2s ease;
}

.credit-dp {
  border-radius: 50%;
  border: none;
  box-shadow:
    0px 4px 16px -8px var(--Overlays-Black-Alpha-2, rgba(0, 0, 0, 0.1)),
    0px 3px 12px -4px var(--Overlays-Black-Alpha-2, rgba(0, 0, 0, 0.1)),
    0px 2px 3px -2px var(--Colors-Neutral-Neutral-Alpha-3, rgba(0, 0, 51, 0.06));
  transition: border 0.2s ease-in-out;
}

.credit-dp:hover {
  border: 2px solid var(--cyan-4);
}

.credit-button:hover {
  background-color: var(--cyan-12);
}

@media (max-width: 1236px) {
  .hero-title {
    font-size: 56px !important;
    line-height: 72px !important;
    max-width: 400px !important;
  }
  .text-container {
    gap: 24px;
  }
}

@media (max-width: 992px) {
  .hero-container {
    flex-direction: column;
    gap: 48px;
  }
}

@media (max-width: 552px) {
  .hero-container {
    margin-top: 32px;
    padding-left: 24px;
    padding-right: 24px;
  }

  .hero-title {
    font-size: 48px !important;
    line-height: 64px !important;
  }
}
