.rt-ProgressIndicator {
  background-color: var(--cyan-9);
}

.status-title {
  position: absolute;
  bottom: 80px;
  right: 80px;
}

.status-title-text {
  font-size: 112px;
  letter-spacing: -0.01em;
}

.status-title-badge {
  border-radius: 4px;
  border: 2px solid var(--cyan-11);
  width: fit-content;
  padding: 8px 24px;
  align-self: flex-end;
}

.status-items {
  width: fit-content;
  margin-top: 80px;
  margin-right: 80px;
  align-self: flex-end;
  justify-content: flex-end;
}

.status-item {
  align-items: flex-end;
  justify-content: flex-end;
}

.message-container {
  position: absolute;
  width: fit-content;
  top: 160px;
  left: 80px;
}

.logo-status {
  position: absolute;
  bottom: 74px;
  left: 80px;
  cursor: auto;
}

.logo-title:hover {
  color: inherit;
}

@keyframes pulse {
  0% {
    color: var(--cyan-4);
  }
  50% {
    color: var(--cyan-8);
  }
  100% {
    color: var(--cyan-4);
  }
}

.pulsing-text {
  animation: pulse 3s infinite;
}

@media (max-width: 1024px) {
  .status-title {
    position: absolute;
    bottom: 80px;
    left: 80px;
    font-size: 48px !important;
  }

  .status-title-text {
    font-size: 88px !important;
  }

  .status-title-badge {
    align-self: flex-start;
  }

  .logo {
    display: none;
  }

  .message-container {
    display: none;
  }

  .status-items {
    align-self: flex-start;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 80px;
    margin-left: 80px;
  }
}

@media (max-width: 632px) {
  .status-title-text {
    font-size: 64px !important;
  }

  .status-item-title {
    font-size: 24px !important;
  }

  .status-item {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
}

@media (max-width: 632px) {
  .status-title {
    bottom: 40px;
    left: 40px;
  }

  .status-items {
    margin-left: 40px;
    margin-top: 40px;
  }

  .status-title-text {
    font-size: 48px !important;
  }
}
