.task-card {
  background-color: hsl(189, 70%, 4%);
  padding: 20px;
  border-radius: 4px;
  cursor: pointer;
  border: 1px solid hsl(189, 70%, 4%, 0);
  transition:
    background-color 0.2s ease-in-out,
    border 0.2s ease-in-out;
}

.task-card:hover {
  background-color: hsla(191, 71%, 32%, 0.8);
  border: 1px solid var(--cyan-8);
}

.task-card .cyan-2 {
  color: var(--cyan-2);
}

.task-card .cyan-3 {
  color: var(--cyan-3);
}

.task-card .cyan-4 {
  color: var(--cyan-4);
}
