.task-card {
  background: rgba(255, 255, 255, 0.02);
  padding: 20px;
  border-radius: 8px;
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  transition: all 0.2s ease-in-out;
}

.task-card:hover {
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.task-card .white {
  color: #fff;
}
