.task-card {
  background-color: hsl(189, 70%, 4%);
  padding: 20px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.task-card:hover {
  background-color: hsla(191, 90%, 32%);
}
