.header {
  width: 100%;
  z-index: 1;
}

.logo {
  transition: color 0.2s ease;
  cursor: pointer;
}

.logo-container path:last-child {
  fill: var(--cyan-2);
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

.logo:hover .logo-container {
  border: 1px solid var(--cyan-5);
}

.logo-title {
  color: var(--cyan-2) !important;
  background-color: unset !important;
}

.logo-path {
  fill: var(--cyan-4);
  transition: fill 0.2s ease;
}

.nav-item {
  transition: color 0.2s ease-in-out;
  cursor: pointer;
  color: #fff;
}

.nav-item:hover {
  color: var(--cyan-5);
}

.nav-item-download {
  transition: color 0.2s ease-in-out;
  cursor: pointer;
  color: var(--cyan-6);
}

.nav-item-download:hover {
  color: var(--cyan-8);
}

.dropdown-container {
  display: none;
}

.nav-item-right {
  border: 1px solid var(--Colors-Cyan-8, #3db9cf);
  background-color: hsla(191, 71%, 32%, 0.6);
  padding: 4px 10px;
  border-radius: 4px;
  transition:
    background-color 0.2s ease-in-out,
    border 0.2s ease-in-out;
}

.nav-item-right:hover {
  background-color: hsla(191, 71%, 32%, 0.7);
  border: 1px solid var(--cyan-3);
}

@media (max-width: 1066px) {
  .dropdown-container {
    display: block;
  }

  .nav-item {
    display: none;
  }
}

@media (max-width: 552px) {
  .logo-title {
    font-size: 24px !important;
  }

  .header {
    padding-left: 24px !important;
    padding-right: 24px !important;
  }
}

@media (max-width: 384px) {
  .logo-title {
    display: none;
  }
}

@media (min-width: 768px) {
  .dropdown-container {
    display: none;
  }
}

@media (max-width: 767px) {
  .nav-center {
    display: none;
  }
}
