.pulsing-background {
  background: #020809;
}

.header-container {
  position: fixed;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 15%;
  z-index: 1000;
  background: linear-gradient(
    to bottom,
    hsl(0, 0%, 0%, 0.5) 0%,
    hsl(0, 0%, 0%, 0.2) 50%,
    rgba(0, 0, 0, 0) 100%
  );
}

.pricing-main-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  height: fit-content;
  position: relative;
}

.pricing-image-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 0;
}

.pricing-gradient-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom,
    rgba(2, 8, 9, 0) 0%,
    rgba(2, 8, 9, 0.25) 50%,
    rgba(2, 8, 9, 0.5) 80%,
    #020809 100%
  );
  z-index: 1;
}

.pricing-hero-container {
  margin-top: 152px;
  padding-left: 24px;
  padding-right: 24px;
  width: 100%;
  gap: 80px;
  flex-direction: column;
  z-index: 1;
}

.pricing-content-container {
  z-index: 1;
  width: 100%;
  max-width: 1312px;
}

.text-container {
  max-width: 742px;
}

.pricing-title {
  font-size: 88px !important;
  line-height: 88px !important;
  letter-spacing: -0.01em !important;
  color: #fff;
}

.pricing-cards-container {
  flex-direction: row;
  padding: 0 24px;
  margin-top: 80px;
  gap: 64px;
  width: 100%;
  flex-wrap: wrap;
}

@media (min-width: 1564px) {
  .pricing-hero-container {
    margin-top: 180px;
  }
}

@media (max-width: 1236px) {
  .pricing-title {
    font-size: 56px !important;
    line-height: 72px !important;
    max-width: 400px !important;
  }
  .text-container {
    gap: 24px;
  }
}

@media (max-width: 992px) {
  .pricing-hero-container {
    flex-direction: column;
    gap: 48px;
  }

  .text-container {
    width: 100%;
  }

  .pricing-cards-container {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 832px) {
  .pricing-hero-container {
    padding: 40px;
  }

  .pricing-cards-container {
    padding: 0 32px;
  }
}

@media (max-width: 552px) {
  .pricing-hero-container {
    margin-top: 128px;
    padding-left: 24px;
    padding-right: 24px;
  }

  .pricing-title {
    font-size: 52px !important;
    line-height: 64px !important;
  }
}

.active-badge {
  color: var(--cyan-11);
  border: 1px solid var(--cyan-11);
}

.inactive-badge {
  color: var(--cyan-4);
  border: 1px solid var(--cyan-4);
}

.card-container {
  background-color: hsla(189.47368421052633, 76%, 4.901960784313726%, 0.6);
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.3);
  border: 2px solid var(--cyan-5);
  border-radius: 8px;
  padding: 48px;
  cursor: pointer;
  transition:
    background-color 0.3s,
    border-color 0.3s;
}

.card-container:hover {
  background-color: var(--cyan-12);
  border-color: var(--cyan-8);
}

.card-container-selected {
  background-color: hsl(191, 73%, 5%);
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
  border: 2px solid var(--cyan-5);
  border-radius: 8px;
  padding: 32px;
  transition:
    background-color 0.3s,
    border-color 0.3s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn 0.3s ease-in;
}
