fastapi
packaging
wheel
huggingface_hub
torch==2.3.0
flash_attn==2.5.7
numpy==1.24.4
Pillow==10.3.0
requests==2.31.0
torchvision==0.18.0
transformers==4.43.0
accelerate==0.30.0
huggingface_hub
fastapi
pydantic
uvicorn
bitsandbytes
python-multipart
PIL
qwen-vl-utils