@keyframes pulseGradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.pulsing-background {
  background: linear-gradient(90deg, #0a2d36 0%, #061d22 37.5%);
  background-size: 110% 100%;
  animation: pulseGradient 15s ease infinite;
}

.hero-container {
  margin-top: 64px;

  padding-left: 80px;
  padding-right: 80px;
}

.text-container {
  flex: 1;
}

.module-container {
  flex: 1;
}
