@keyframes pulseGradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.pulsing-background {
  background: linear-gradient(
    90deg,
    #104957 0%,
    #08242b 19.28%,
    #061d23 38.56%,
    #061d23 57.84%,
    #061d23 77.12%,
    #061d23 96.4%
  );
  background-size: 110% 100%;
  animation: pulseGradient 15s ease infinite;
}
